<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>13149056802-2fapnnogafbp7di02all278fig8pa5lp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.13149056802-2fapnnogafbp7di02all278fig8pa5lp</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>13149056802-au6470g9iroefnusct1mv35cdr6jotss.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAmX0H3Yove3YOgndCQsNv8_QLscHR_E0Y</string>
	<key>GCM_SENDER_ID</key>
	<string>13149056802</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jingweiye.studentLifeApp2025</string>
	<key>PROJECT_ID</key>
	<string>student-life-application</string>
	<key>STORAGE_BUCKET</key>
	<string>student-life-application.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:13149056802:ios:c8dbaa4c58474889b6ff7b</string>
</dict>
</plist>